.card {
  margin-top: 60px;
}

body {
  background-image: url('../login-page-background-image.jpg');
}

/*
.home {
  background-image: url('../home-background-image.jpg');
}
#form {
  text-align: start;
}
.signin {
  margin-top: auto;
}
#fName,
#lName,
#adm_number,
#pass,
#con_pass {
  border-radius: 10px;
  min-height: 35px;
  min-width: 300px;
  max-height: 40px;
}

h1 {
  text-align: start;
}
#sign_up_button,
#login {
  background-color: darkgreen;
  cursor: pointer;
  margin-top: auto;
  border-radius: 10px;
  margin-left: 120px;
  padding: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#sign_up_button:hover,
#login:hover {
  background-color: aqua;
}
#signindiv,
#signupdiv {
  margin: 10px;
  margin-left: 50px;
}
a:hover {
  color: aqua;
} */
